
.cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.cards__image{
  max-width: 10px;
  max-height: 10px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px
}

.cards__box {
  padding: 65px 50px 45px;
  flex: 1 100%;
  border: 2px solid #cecece;
  margin: 15px;
}

.cards__box h4 {
  margin: 25px 0 20px 0;
}

/* media queries */

@media(min-width: 768px) {
  .cards__box {
    flex: 1 calc(40% - 30px);
  }
}

@media(min-width: 1024px) {
  .cards__box{
    flex: 1 calc(23% - 30px);
  }
}
