@import url('https://fonts.googleapis.com/css?family=Rancho|Ubuntu:500&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1b262c;
  color: #fef6fb;
  font-family: "Ubuntu", sans-serif;
}

li, a {
  font-size: 16px;
  text-decoration: none;
  color: #fef6fb;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
}

.logo a {
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
}

.logo img {
  width: 25px;
}

li {
  list-style: none;
  display: inline-block;
}

.navbar a {
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #3282b8;
}

main {
  max-width: 1000px;
  margin: auto;
  margin-top: 50px
}

section {
  border: 3px solid #0f4c75;
  margin-bottom: 10px;
  padding: 0 10px;
  display: block;
}

h3 {
  color: #bbe1fa;
}

p {
  color: #fef6fb;
}

.heads {
  background-color: #3282b8;
  text-align: center;
  padding: 10px;
}

.heads h1 {
  font-family: 'Rancho', sans-serif;
}

.content {
  height: 400px;
  width: 70%;
  vertical-align: auto;
  float: left;
}

.sidebar {
  width: 25%;
  float: right;
  text-align: center;
}

.sidebar h3 {
  text-align: left;
}

.sidebar li {
  list-style-type: none;
  display: list-item;
  margin: 0;
  padding: 5px 2px;
  text-align: left;
}

.sidebar a {
  text-decoration: underline;
}

footer {
  clear: both;
  text-align: center;
  padding: 15px;
  background-color: #0f4c75;
}

form {
  padding: 50px;
  margin-bottom: 50px;
}

input {
  width: 500px;
}

input.send {
  height: 30px;
  font-weight: bold;
}

.about {
  width: 600px;
  margin: auto;
  margin-bottom: 50px;
  text-align: justify;
}
